
















/*etc common*/
.tab-list li.on button { font-weight: bold; }


/* 2depth ì˜ì—­  cssì •ì˜ */

.etc-header-2depth-wrap {
    position: absolute;
    width: 100%;
    background: #555555;
    text-align: center;
    height: 51px;
    margin-bottom: 40px;
    z-index: 2;
}

.etc-header-2depth-wrap ul li:nth-child(1) {
    border-left: 1px solid #4c4c4c;
}

.etc-header-2depth-wrap ul li {
    width: 20%;
    background-color: ;
    display: inline-block;
    height: 50px;
    float: left;
    line-height: 51px;
    font-size: 15.95px;
    margin-top: 1px;
    border-right: 1px solid #4c4c4c;
}

.etc-header-2depth-wrap ul li:hover {
    background-color: white;
}

.etc-header-2depth-wrap ul li:hover a {
    background-color: white;
    color: #555555;
}

.etc-header-2depth-wrap ul li a { display: block; color: rgba(255, 255, 255, 0.5); font-size: 1.04em; font-weight: 600; }

.etc-header-2depth-wrap ul {
    width: 1050px;
    margin: auto;
}

.etc-header-2depth-wrap ul li.on {
    background-color: white;
}

.etc-header-2depth-wrap ul li.on a { color: #555555; }

/*2depth ì˜ì—­ ë*/

.policy-h2 { margin-bottom: 20px; font-size: 29px; }

.policy-contents-area {
    top: 51px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.policy-table {
    border: 4px solid #eeeeee;
    padding: 40px;
    border-collapse: inherit;
}

.policy-table tr {
    height: 30px;
}

.policy-table tbody tr td { font-size: 1.04em; font-weight: bold; color: #555555; }

.policy-table tbody tr td a span {
    font-weight: 700;
    color: #333;
}

.policy-table tbody tr td a:hover {
    text-decoration: underline;
}

.policy-info-div {
    position: relative;
    clear: both;
    text-align: left;
}

.policy-info-div h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 21px;

}

.policy-info-div h4 {
    margin-top: 0px;
    color: #926d49;
    font-size: 17px;

}

.policy-info-div p {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #666666;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Nanum Barun Gothic', sans-serif;
}

.policy-info-div .policy-info-div-table {
    margin-left: 15px;
    width: 1030px;
    margin-top: 15px;
}

.policy-info-div .policy-info-div-table tr {
    vertical-align: top;
    padding-left: 15px;
    color: #666666;
}

.policy-info-div .policy-info-div-table tr td {
    vertical-align: top;
    padding-left: 0px;
    color: #666666;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 15px;
      font-family: 'Nanum Barun Gothic', sans-serif;
}

.policy-info-div div {
    margin-bottom: 50px;
}

.policy-info-div div .policy-info-div-table tr td:nth-child(1) {
    width: 20px;
    ;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
}

.policy-info-div div .policy-info-div-table tr td:nth-child(2) {
    padding-bottom: 10px;
}

.policy-info-div ol {
    margin-left: 15px;
}

.policy-info-div ol li {
    font-size: 15px;
    color: #666666;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.5;
    font-family: 'Nanum Barun Gothic', sans-serif;
}

.policy-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    margin-bottom: 80px !important;
    ;
}

.policy-personal-info-link {
    margin-left: 15px;
}

/* ì˜¤ì‹œëŠ”ê¸¸ */

.location-subvisual {
    background: url('/webPub/sc_2018/images/etc/location_header_img.png');
    height: 355px;
    width: 100%;
    background-position: center;
}

.v-con-align {
    margin-top: -30px;
}

.subvisual-h1 {
    padding-top: 125px;
    line-height: 38px;
    font-size: 29px;
    color: white;
}

.map {
    width: 100%;
    height: 405px;
    background: url('/webPub/sc_2018/images/etc/map.png');
    background-position: center;
    position: relative;
}

.pin {
    position: absolute;
    top: 232px;
    left: 418px;
    z-index: 3;
}

.gotothenavermap {
    position: absolute;
    top: 158px;
    left: 261px;
    z-index: 2;
}

.print {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}

.location-info {
    padding-bottom: 105px;
    ;
    width: 100%;
    padding-top: 50px;
    text-align: left;
    overflow: hidden;
}

.location-info div {
    display: inline-block;
    float: left;
}

.location-info>div:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    width: 525px
}

.location-info>div:nth-child(2) {
    padding-left: 75px;
    width: 525px;
}

.location-info h3 {
    font-size: 21px;
    margin-bottom: 30px;
    color: #333;
}

.location-info h4 {
    font-size: 17px;
    margin-bottom: 10px;
    color: #926d49;
}

.location-info p {
    font-size: 15px;
    margin-bottom: 45px;
    color: #666666;
    font-family: 'Nanum Barun Gothic', sans-serif;
    text-indent: 1px;
}

.location-info table tr td {
    padding: 0;
    font-size: 16px;
    margin-bottom: 45px;
    color: #666666;
    font-size: 15px;
    font-family: 'Nanum Barun Gothic', sans-serif;
}

.location-info table tr td p {
    display: inline-block;
    margin-bottom: 6px;
    float: left;
}

.bus-button {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 6px;
    padding: 0 7px;
    border-radius: 99px;
    width: 17px;
    height: 17px;
    margin: 0 6px;
}

.bus-button p {
    font-size: 14px;
    margin: 0px;
    margin-top: 1px;
    margin-bottom: 0px !important;
    ;
    color: white;
    font-weight: bold;
    margin-left: -3px !important;
}

.location-info .button-blue {
    background-color: #28459b
}

.location-info .button-green {
    background-color: #2e8857;
}

.location-info .button-brown {
    background-color: #8c6c54;
}

.location-info table tr td:nth-child(1) {
    width: 75px;
    transform: translateY(-3px);
}

.location-info table {
    margin-bottom: 30px;
}

.location-info .p_small {
    font-size: 16px;
    margin-bottom: 15px;
}

.location-info .p_small span {
    color: #926d49;
    font-weight: 600;
}

/*ì‚¬ì´íŠ¸ ë§µ */

.sitemap-container {
    overflow: hidden;
}

.sitemap-subvisual {
    background: url('/webPub/sc_2018/images/etc/sitemap_header_img.png');
    height: 355px;
    width: 100%;
    background-position: center;
}

.table-contents-area {
    position: relative;
    width: 1100px !important;
    ;
    margin: auto;
    text-align: center;
}

.table-contents-area-4 {
    position: relative;
    width: 1100px !important;
    ;
    margin: auto;
    text-align: center;
}

.table-contents-area-4 div:nth-child(1) {
    width: 80%;
    display: inline-block;
    float: left;
}

.table-contents-area-4 div:nth-child(2) {
    width: 20%;
    display: inline-block;
    float: left;
}

.sitemap-subvisual .subvisual-h1 {
    color: #555555;
}

.sitemap-wrap {
    margin-top: -50px;
}

.sitemap-wrap table {
    border-collapse: separate;
    border-spacing: 30px;
}

.sitemap-wrap table tr td {
    vertical-align: top;
}

.sitemap-wrap table tr td a:hover {
    color: #da281f
}

.sitemap-wrap table tr td ul li {
    list-style: unset !important;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 15px;
}

.sitemap-wrap table tr td ul li ul li {
    list-style: unset !important;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.sitemap-wrap table tr td ul li a {
    font-size:15px;
    color: #333333;
    font-family: inherit;
     font-family: 'Nanum Barun Gothic', sans-serif;
}

.sitemap-wrap table tr td ul li ul li a {
    color: #555555;
    font-size:15px;
    font-family: inherit;
     font-family: 'Nanum Barun Gothic', sans-serif;
     font-weight:400;
}
.sitemap-wrap table tr td ul li ul li a::before {
    content: url(/webPub/sc_2018/images/etc/squar.png);
    margin-top: -3px;
    margin-left: -10px;
    position: absolute;
    padding-right: 56px;
}
.sitemap-wrap table tr td ul li ul li{
    margin-left:20px;
}

.sitemap-wrap table tr td ul li>ul {
    margin-bottom: 30px;

}

.sitemap-wrap table tr td ul li ul li a:hover {
    color: #da281f
}

.sitemap-wrap table thead {
    font-size: 21px;
    font-weight: 600;
}

.sitemap-wrap table thead tr td {
    padding-bottom: 15px;
    padding-right: 30px;
    border-collapse: separate;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sitemap-wrap table tr td {
    width: 20%;
}

.sns-div a img {
    margin-left: 0px;
    margin-bottom: 20px;
}

.sns-div a:nth-child(1) img {
    margin-top: 30px;
}

.sns-div a {
    width: 200px;
    margin-bottom: 20px;
}

/*404*/

.container-404.Center-Container {
    position: relative;
}

.container-404>div {
    width: 600px;
    height: 390px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    text-align: center;
}

.container-404>div h2 {
    margin-bottom: 33px;
    font-size: 33px;
    color: #333333;
}

.container-404>div h3 {
    padding-bottom: 40px;
    line-height: 32px;
    font-size: 24px;
    color: #333333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.container-404>div p {
    margin-top: 40px;
    margin-bottom: 30px;
    line-height: 24px;
    font-size: 1.04em;
    color: #555555;
    font-family: 'Nanum Barun Gothic', sans-serif;

}

.container-404>div button {
    width: 195px;
    height: 55px;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 1.04em;

}

.container-404>div button:nth-child(1) {
    background-color: #555555;
    color: white;
}

.container-404>div button:nth-child(2) {
    background-color: white;
    color: #555555;
    border: 1px solid #555555;
    margin: 0 5px;
}

.body-404 {
    background-color: #fafafa
}

.footer-404 {
    height: 70px;
    line-height: 70px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.footer-404 .inner {
    text-align: center;
    font-weight: 500;
    color: #999999;
}

/*404*/

.service-maintenance>div {
    width: 800px;
    height: 450px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.service-maintenance-info {
    padding-top: 6px;
    width: 500px;
    display: inline-block;
    text-align: left;
    margin-left: 35px;
    margin-right: 38px;
    font-weight: 500;
}

.service-maintenance>div>div {
    vertical-align: top;

    display: inline-block;
    width: 800px;

    background-color: #fff;
    height: 193px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.service-maintenance>div img {
    display: inline-block;
    margin-top: 40px;
    margin-left: 35px;
}

.service-maintenance>div h2 {
    margin-bottom: 32px;
    font-size: 33px;
    color: #333333;
}

.service-maintenance>div h3 {
    padding-bottom: 35px;
    line-height: 32px;
    font-size: 24px;
    color: #333333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.service-maintenance>div p {
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 1.5;
    letter-spacing: -0.05em; font-family: 'Nanum Barun Gothic';
    font-size: 15px;
    font-weight: bold;
    color: #555555;
}
.service-maintenance>div p strong{
    color: #333333;
}

.service-maintenance>div p:last-child {
    margin-top: 17px;
    margin-bottom: 7px;
    line-height: 1.5;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 15px;
    color: #555555;
    font-weight: normal;
}

.service-maintenance>div button {
    width: 195px;
    height: 55px;
}

.service-maintenance>div button:nth-child(1) {
    background-color: #555555;
    color: white;
}

.service-maintenance>div button:nth-child(2) {
    background-color: white;
    color: #555555;
    border: 1px solid #555555;
    margin: 0 5px;
}

.body-404 {
    background-color: #fafafa
}

.footer-404 {
    height: 70px;
    line-height: 70px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.footer-404 .inner {
    text-align: center;
    font-weight: 500;
    color: #999999;
}

.service-maintenance div h5 {
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: -0.05em; font-family: 'Nanum Barun Gothic';
    color: #555555;
    font-weight: normal;
}

.phone {
    color: #da281f
}






/*faq*/

.faq-container {
    overflow: hidden;
}

.faq-subvisual {
    background: url('https://blog.kakaocdn.net/dn/c0TOG2/btrUghNoLsU/gFai2GO6KaTWDVOcacChY0/img.jpg');
    height: 355px;
    width: 100%;
    background-position: center;
}

.faq-subvisual .subvisual-h1 {
    padding-top: 90px;
}

.search-form {
    position: relative;
    width: 580px;
    margin: auto;
    margin-top: 30px;
}

.search-bar {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    min-width: 580px;
    font-size: 17px
}
.search-bar { height: 60px; }

.search-bar:focus {
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2)
}

.search-bar:hover {
    border-color: transparent;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.search-button {
    position: absolute;
    top: 17px;
    right: 20px;
}

.faq-wrap {
    width: 1050px;
    margin: -30px auto 0px auto;
    ;
}

.tab-list {
    margin-bottom: 20px;
}

.faq-under-div {
    margin-top: 60px;
    width: 100%;
    margin-bottom: 150px;
}

.faq-under-div div {
    position: relative;
    ;
    width: 340px;
    height: 108px;
    margin-right: 11px;
    border: 1px solid #e5e5e5;
    display: inline-block;
}

.faq-under-div div:last-child {
    margin-right: 0px !important;
}

.faq-under-div div:hover {
    border: 1px solid #da281f;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.1)
}

.faq-under-div>div>img {
    position: absolute;
    top;
    top: 25px;
    left: 30px;
}

.faq-under-div h3 {
    position: absolute;
    left: 120px;
    top: 30px;
}

.faq-under-div p {
    position: absolute;
    left: 120px;
    top: 60px;
    text-align: left;
    color: #555;
    letter-spacing: -0.05em; font-family: 'Nanum Barun Gothic';
}
.faq-under-div p span { font-size: 13px; color: #555555; }

.faq-under-div div:last-child h3 { top: 20px; }
.faq-under-div div:last-child p { top: 50px; }

.faq-under-div a { position: absolute; display: block; width: 100%; height: 100px; }

.faq-under-div a img { position: absolute; right: 30px; top: 40px; }

/* FAQ */

.sa-top {
    margin-bottom: 25px;
}

.sa-bottom {
    margin-top: 30px;
}

.q-row {
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}

.q-row th {
    text-align: left;
    font-size: 1.04em;
}
.q-row th:nth-child(2) span{
    /* display: inline-block; */
    display: block;
    width: 798px;
    overflow: hidden; white-space: nowrap; word-break: break-all; text-overflow:ellipsis;
}
.q-row th:first-child {
    padding: 25px 20px 25px 25px;
    width: 180px;
}

.q-row th:last-child {
    padding-right: 25px;
}

.i-q {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    font-style: normal;
    font-size: 20px;
    color: #777777;
    font-weight: bold;
}

.i-q+span {
    font-size: 1.04em;
    font-weight: bold;
}

.q-row button {
    margin-top: 1px;
    width: 26px;
    height: 13px;
}

[data-row-toggle="off"] th {
    color: #555;
}

[data-row-toggle="on"] th, [data-row-toggle="on"] th i {
    color: #333;
}

[data-row-toggle="off"] button {
    background: url('/webPub/sc_2018/images/mypage/faq-btn-off.png');
}

[data-row-toggle="on"] button {
    background: url('/webPub/sc_2018/images/mypage/faq-btn-on.png');
}

[data-row-toggle="off"]+.a-row {
    display: none;
}

.a-row {
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;
}

.a-row td {
    padding: 28px 0 28px 0;
}

.a-wrap { position: relative; padding: 0 80px; }

.a-wrap .a-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 15px 28px 53px;
    text-align: right;
}

.a-wrap .i-a {
    font-style: normal;
    font-size: 20px;
    color: #b59145;
    font-weight: bold;
}

.a-wrap .a-content {
    line-height: 24px;
    font-size: 15px;
    color: #555555;
}

.a-wrap .a-content p {
    line-height: inherit;
}

.a-wrap .a-content, .a-wrap .a-content * {
    font-family: 'Nanum Barun Gothic';
    letter-spacing: -0.05em;
}

.page-list {
    padding-top: 20px;
}

.table-set .q-row-none th {
    padding: 0;
}

.q-row-none th div {
    padding: 100px 0 97px;
    text-align: center;
    font-family: 'NanumSquare';
    font-size: 24px;
    color: #333333;
    border-bottom: 1px solid #e5e5e5;
}

.table-set .q-row-none th div {
    border-bottom: none;
}
.personal_info-table{text-align: center;margin: 0;width: 100%;margin-bottom: 25px;}
.personal_info-table th{background-color: #F6F6F6;
    line-height: 19px;
    color: #555;
    font-size: 15px;
    border: 1px solid #e5e5e5;
    font-family: 'Nanum Barun Gothic', sans-serif;
    padding: 18px 0px;}
.personal_info-table td{text-align: left;color: #666666;font-size: 15px;  font-family: 'Nanum Barun Gothic', sans-serif;
padding-left: 10px;padding-top: 20px;padding-bottom: 20px;line-height: 1.5;
border: 1px solid #e5e5e5;}
.policy-info-div .text-align-center{text-align: center;}


.per-table { margin: 53px 0; }
.q-per-row th { width: 100% !important; }
.a-per-row { background: #faf8f6; border: 4px solid #e4dad1; }
.a-per-wrap { padding: 12px 50px; }
.a-head h4 { padding-bottom: 11px; letter-spacing: -0.05em; font-family: 'Nanum Barun Gothic'; font-size: 15px; color: #926d49; }
.a-head h4 i { display: inline-block; vertical-align: middle; margin-right: 12px; width: 21px; height: 14px; background: url('/webPub/sc_2018/images/etc/a-head.png'); }
.a-text p { display: none; line-height: 26px; letter-spacing: -0.05em; font-family: 'Nanum Barun Gothic'; font-size: 15px; color: #666666; margin-bottom: 7px; }
.a-text p:last-child { margin-bottom: 0px; }
.a-text p:first-child,
.a-text p:nth-child(2),
.a-text p:nth-child(3),
.a-text p:nth-child(4),
.a-text p:nth-child(5) { display: block; }



.a-btn { transform: translateY(28px); }
.a-btn button { width: 100%; height: 67px; border-top: 1px solid #eeeeee; font-size: 17px; color: #333333; font-weight: bold; }
.a-btn button i { display: inline-block; vertical-align: middle; margin-left: 20px; width: 17px; height: 9px; }
.a-btn button[aria-pressed="true"] i { background: url('/webPub/sc_2018/images/etc/a-btn-on.png'); }
.a-btn button[aria-pressed="false"] i { background: url('/webPub/sc_2018/images/etc/a-btn-off.png'); }


.pol-row {
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}

.pol-row th {
    text-align: left;
    font-size: 1.04em;
}

.pol-row th:first-child {
    padding: 25px 20px 25px 25px;
    width: 180px;
}

.pol-row th:last-child {
    padding-right: 25px;
}

.pol-row[data-row-toggle="off"] th {
    color: #555;
}

.pol-row[data-row-toggle="on"] th, .pol-row[data-row-toggle="on"] th i {
    color: #333;
}

.pol-row:hover th { background: #f5f5f5; }

.pol-row[data-row-toggle="off"] button {
    background: url('/webPub/sc_2018/images/mypage/faq-btn-off.png');
}

.pol-row[data-row-toggle="on"] button {
    background: url('/webPub/sc_2018/images/mypage/faq-btn-on.png');
}

.pol-row[data-row-toggle="off"] +.a-row {
    display: none;
}
